* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton SC", sans-serif;
}

body {
    background-color: #f5ebe3;
}

header{
    padding: 20px 40px;
    max-width: 1300px; 
    width: 90%; 
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container{
    display: flex;
    align-items: center;
    gap: 55px; 
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 55px;
    font-size: 15px;
}
.texto-logo a{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.texto-logo span {
    color: orange; 
    font-size: 30px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
            
}
.compra-ya{
    display: flex;
    align-items: center; 
    background-color: yellow; 
    padding: 5px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid black; 
}
.compra-ya a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.wattpas img {
    width: 30px;
    height: 30px;
}



.bake {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    background-color: white; 
    justify-content: space-between;
    max-width: 1300px;
    height: 550px; 
    margin: 0 auto; 
    border-radius: 70px; 
    padding: 20px; /* Añade un poco de espacio interno */
}
.cookies h1 {
    text-align: center; 
    font-size: 150px;  
    color: #46260b;
    margin: 0;
    padding: 0;  
}

.texto-container {
    flex: 1;
    margin-right: 890px;
}

.panes-artesanales p {
    font-size: 28px; 
    color: #46260b;
    text-align: justify;
}
.Definicion {
    margin-top: 20px;
}
.Definicion p {
    font-size: 20px; /* Ajusta el tamaño de la letra */
    font-family: sans-serif; /* Aplica la fuente sans-serif */
    color: #46260b;
    text-align: justify;
}
.ordenes{
    margin-top: 40px;
}
.order-button {
    background-color: yellow;
    text-decoration: none;
    color: black;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 18px;
    border: 1px solid black; 
    
    
}