* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton SC", sans-serif;
}

body {
    background-color: #f5ebe3;
}

header{
    padding: 20px 40px;
    max-width: 1300px; 
    width: 90%; 
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container{
    display: flex;
    align-items: center;
    gap: 55px; 
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 55px;
    font-size: 15px;
}
.texto-logo a{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.texto-logo span {
    color: orange; 
    font-size: 30px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
            
}
.compra-ya{
    display: flex;
    align-items: center; 
    background-color: yellow; 
    padding: 5px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid black; 
}
.compra-ya a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.wattpas img {
    width: 30px;
    height: 30px;
}



.bake {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: white; 
    justify-content: space-between;
    max-width: 1300px;
    height: 550px; 
    margin: 0 auto; 
    border-radius: 70px; 
    padding: 20px; 
}
.cookies h1 {
    text-align: center; 
    font-size: 150px;  
    color: #46260b;
    margin: 0;
    padding: 0;  
}

.texto-container {
    flex: 1;
    margin-right: 890px;
}
.panes-artesanales p {
    font-size: 28px; 
    color: #46260b;
    text-align: justify;
}
.Definicion {
    margin-top: 20px;
}
.Definicion p {
    font-size: 20px; 
    font-family: sans-serif;
    color: #46260b;
    text-align: justify;
}
.ordenes{
    
    margin-top: 40px;
}
.order-button {
    background-color: yellow;
    text-decoration: none;
    color: black;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 18px;
    border: 1px solid black;  
}
.panecito{
    display: inline-block;
    position: absolute;
    margin-top: 150px;
    margin-left: 650px;

}
.panecito img {
    width: 490px; 
    height: auto;
}




.contenedor2{
    display: flex;
    align-items: center;
    margin: 0 auto; 
    max-width: 1100px; 
    margin-top: 70px;
    margin-left: 445px;
}
.texto-contenedores{
    display: flex;
    flex-direction: column;   
}
.unica-texto{
    position: relative; /* Permite que .galletita-cost se posicione de manera absoluta dentro */
    display: inline-block;
}
.unica-texto h2{
    margin-left: 70px;
    margin-top: 80px;
    font-family: "Anton", sans-serif; 
    font-weight: 900; /* Negrita */
    font-size: 50px;
    text-shadow:
        2.5px 1px 0 currentColor,
       -1px 1px 0 currentColor,
        1px -1px 0 currentColor,
       -1px -1px 0 currentColor;
}
.articulo-destacado p{
    margin-top: 20px;
    font-size: 20px;
    font-family: "Comic Neue";
    margin-left: 70px;
    font-weight: 1000;
    text-shadow: 0.8px 0px 0px black, -0.8px -0px 0px black; 
    
}
.galletita-cost{
    margin-left: 360px;
    margin-top: -165px;
    position: absolute;
}
.galletita-cost img {
    width: 90px; /* Ajusta según el tamaño deseado */
    height: auto; /* Mantiene la proporción */
}
.trio-pancillo {
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Centra verticalmente */
    gap: 15px; /* Espacio entre la imagen y el texto */
}
.pan-bagel img {
    margin-top: 30px;
    margin-left: 60px;
    width: 160px; /* Ajusta según el tamaño deseado */
    height: auto; /* Mantiene la proporción */
}
.Bagel-pan h3 {
    font-size: 25px; /* Tamaño del texto */
    font-weight: 900; /* Negrita opcional */
    font-family: "Anton", sans-serif; 
    flex-direction: column;
}
.Bagel-pan p{
    margin-top: 5px;
    font-family:  sans-serif; 
    font-size: 18px;
    font-weight: bold;
    
}
.raya {
    margin-left: 20px; /* Agrega espacio entre el texto y la raya */  
}
.raya p {
    font-size: 25px;
}
.costo-bagel{
    margin-left: 20px;
}
.costo-bagel p{
    color: #734611;
    font-family: "Anton", sans-serif; 
    font-size: 30px; 
    font-weight: 900;
}
.Concepto-babe{
    margin-left: 70px;
    margin-top: 25px;
}
.Concepto-babe p{
    font-family: "Comic Neue";
    font-size: 20px;
    font-weight: bold;
}



.contenedor3{
    display: flex;
    justify-content: space-between; /* Espaciado uniforme */
    gap: 0px; /* Espacio entre productos */
    padding: 20px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    margin-top: 60px; /* Margen superior */
    max-width: 1340px; /
}
.product-panes {
    border-radius: 15px; /* Bordes redondeados */
    text-align: center;
    width: 40%; /* Para que tres productos entren en una fila */
    height: 500px;
  }
.Imagenes-panes{
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta según la imagen */
    width: 40%;
}
.Descption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 480px; /* Límite máximo de ancho */
    margin-top: 10px;
    cursor: default;
}
.Nombre-panes h4{
    color: rgb(24, 24, 24);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800; /* Negrita */
    font-style: normal;
    font-size: 30px;
    line-height: 1;

}